<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQgm894SSsXniJb2A9oPz1UDK3Ms6BnlI</string>
	<key>GCM_SENDER_ID</key>
	<string>594064062689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuios.WA8-Group19</string>
	<key>PROJECT_ID</key>
	<string>neu-cs5520-cxren-hw8</string>
	<key>STORAGE_BUCKET</key>
	<string>neu-cs5520-cxren-hw8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594064062689:ios:acfcb22df9317a887e1fa0</string>
</dict>
</plist>